.main-profile {
    color: #1a202c;
    text-align: left;
    height: auto;
}

.profile-main-body {
    padding: 15px;
}

.profile-main-body .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.profile-main-body .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.profile-main-body .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.profile-main-body .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.profile-main-body .gutters-sm>.col,
.profile-main-body .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.profile-main-body .mb-3,
.profile-main-body .my-3 {
    margin-bottom: 1rem !important;
}

.profile-main-body .bg-gray-300 {
    background-color: #e2e8f0;
}

.profile-main-body .h-100 {
    height: 100% !important;
}

.profile-main-body .shadow-none {
    box-shadow: none !important;
}

.follow a:link {
    text-decoration: none;
}

.follow a:visited {
    color: white;
}

.profile-main-body .message a:link {
    text-decoration: none;
    color: white;
}

.profile-main-body .message a:hover {
    color: white;
}

.profile-main-body .infor input {
    outline: none;
    border: none;
    width: 100%;
    background-color: #f0f3ff;
    border-radius: 5px;
}

.profile-main-body .infor select {
    outline: none;
    border: none;
    background-color: #f0f3ff;
}

.profile-page-container {
    background: linear-gradient(to left, rgb(207, 205, 205) 0%, #9ac7f1 100%);
    height: auto;
    width: 100%;
    margin-bottom: -50px;
}

.profile-main-body .avatar-profile i {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%
}