.course-detail-right {
    font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.course-title-detail {
    background: rgb(234, 233, 233);
    border-radius: 5px;
}

.course-title-detail div div {
    height: 45px;
    align-items: center;
    display: flex;
}