.homepage {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: Arial, Helvetica, sans-serif;
}

#homepage-header {
    height: 56px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#homepage-logo-app {
    display: inline-block;
    transform: translateX(10%);
}

#homepage-nav {
    display: inline-block;
    list-style-type: none;
    float: right;
    padding: 0px 20px 5px;
}


#homepage-nav>li {
    display: inline-block;
}

#homepage-nav li {

    position: relative;
}

#homepage-nav>li>a {
    color: #000;
    font-weight: 480;
    font-size: 17px;
}

#homepage-nav li a {

    text-decoration: none;
    line-height: 46px;
    padding: 0 25px;
    display: block;
}

#homepage-nav li:hover .subnav {
    display: block;
}


#homepage-nav .subnav li:hover a,
#homepage-nav>li:hover>a {
    color: #ffffff;
    background-color: #0088FF;
    font-weight: 550;
}

#homepage-content {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 42px;
    // padding-top: 50%;
}

#homepage-big-image {
    display: inline-block;
    // float: right;
    width: 55%;
}


.homepage-right-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    ;
}

#homepage-slogan {
    display: inline-block;
    // float: left;
    width: 45%;
    transform: translateY(20%);
}

#homepage-h1 {
    font-size: 75px;
    font-weight: 460;
    line-height: 1.15;
    text-align: center;
    background: linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
    background-clip: text;
    color: transparent;
    padding: 0 50px 8px;
    word-break: break-word;
    text-align: right;
}

#homepage-slogan p {
    color: #595959;
    margin: 0px 50px 38px;
    word-break: break-word;
    text-align: right;
}

#homepage-login_button {
    text-align: center;
}

#homepage-login_button button {
    position: absolute;
    transform: translate(55%, -14%);
    margin: auto;
    color: aliceblue;
    background-color: #0088FF;
    padding: 6px 12px;
    font-size: 1.2rem;
    font-weight: 400;
    // text-align: center;
    border: 1px solid #0088FF;
    border-radius: 15px;
}

// direction: ltr;
// word-wrap: break-word;
// margin: 0;
// font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
// background: linear-gradient(81.84deg, #0099ff -9.4%, #a033ff 51.57%, #ff5280 84.07%, #ff7061 90.59%);
// -webkit-background-clip: text;
// color: transparent;
// display: inline-block;
// font-size: 60px;
// font-weight: 450;
// letter-spacing: -2px;
// line-height: 52px;
// padding: 0 0 8px;
// word-break: break-word;
// text-align: left;
// background-image: linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);